#Database
DATABASE_URL="CONNECTION_STRING"

#Firebase
FIREBASE_PROJECT_ID="FIREBASE_PROJECT_ID"
FIREBASE_CLIENT_EMAIL="FIREBASE_CLIENT_EMAIL"
FIREBASE_PRIVATE_KEY="FIREBASE_PRIVATE_KEY"

#Notifications
NOTIF_API_KEY="NOTIF_API_KEY"

#OpenWeather
OPENWEATHER_API_KEY="OPENWEATHER_API_KEY"